@import 'tailwindcss';

:root {
	--primary-color: #1f1f1f;
	--accent-color: #475569;
	--bg-primary: #dfdfdf;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--bg-primary);
}

*:focus {
	outline: none !important;
}
